.flex-container {
  display: flex;
  flex-direction: row;
  height: 10vh;
  width: 100vw;
  border-bottom: 2px inset #222222;
}

.titleArea {
  flex-grow: 50;
  height: 10vh;
  flex-basis: 50vw;
  border-right: 2px inset #222222;
}

.titleArea h1 {
  color: white;
  font-size: calc(min(3.3vh, 3.5vw));
  text-align: center;
  padding: calc(min(2vh, 2vw));
}
